[data-tab="english"]:after {
    content: 'NEW!';
    position: absolute;
    top: 0;
    right: 0;
    min-height: 1em;
    min-width: 1em;
    padding: 0.325em 0.5em 0.3em 0.5em;
    border-radius: 3px;
    background: red;
    color: #fff;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 11px;
    line-height: 1;
    transform: translate(35%, -45%);
}